<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" [formGroup]="searchform" role="search">
      <select #options (change)="onSelected(options.value)"  class="form-select form-select-sm" >
        <!-- <option value="state">Todos</option> -->
        <option value="people" [selected]="true">Pessoas</option>
        <option value="planets">Planetas</option>
        <option value="starships">Naves</option>
        <option value="species">Espécies</option>
        <option value="vehicles">Veículos</option>
      </select>
      <input name="search" formControlName="search" class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button (click)="search()" class="btn btn-outline-success"data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit">Pesquisar</button>
    </form>
    <!-- Menu lateral -->
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/people">Pessoas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/films">Filmes</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade search-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resultados da pesquisa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex row ">
        <div class="col-6 d-flex justify-content-center card-people" *ngFor="let dataSearch of datasSearch, index as i">
          <app-search [dataId]="dataId[i]" [dataSearch]="dataSearch"></app-search>
        </div>
      </div>
      <div class="buttons">
        <button [disabled]="previous==null?true:false" class="btn-prv btn btn-primary" (click)="previousPage()" >Previous</button>
        <button [disabled]="next==null?true:false" class="btn-ntx btn btn-primary" (click)="nextPage()" >Next</button>
      </div>
    </div>
  </div>
</div>
