<div class="secondary-content">
  <div class="title flip-scale-up-hor">
    <h1>Principais Pensonagens</h1>
    <div class="divisor-title rounded-end"></div>
  </div>
  <div class="row ">
    <div class="col-1"></div>
    <div class="col rounded-start image-bcg">
      <div class="luke-vader">
        <div class="luke-skywalker">
          <img class="img-luke scale-up-center" src="../../assets/img/Component 1.svg" alt="">
        </div>
        <div class="darth-vader">
          <img class="img-vader scale-up-center" src="../../assets/img/Darth-Vader.svg" alt="">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="rounded-5 text-content">
        <p>Luke Skywalker é o protagonista da trilogia original da série Star Wars, faz participação em Star Wars: O
          Despertar da Força em Star Wars: Os Últimos Jedi. É interpretado pelo ator norte-americano Mark Hamill. Um
          personagem essencial e importante na luta da Aliança Rebelde contra o Império Galáctico, é o irmão gêmeo da
          líder rebelde Princesa Leia Organa de Alderaan, foi amigo do mercenário e contrabandista Han Solo, aprendiz do
          grão-mestre jedi Yoda, e o filho do Jedi caído Darth Vader (Anakin Skywalker) e da Rainha de Naboo/Senadora da
          República Padmé Amidala. Ele é o tio e antigo mestre de Kylo Ren, antes deste ter se convertido ao Lado Negro
          da Força. O yoda também.</p>
        <div class="divisor  rounded-5"></div>
        <p>Darth Vader (anteriormente chamado Anakin Skywalker) é um personagem fictício da saga de ficção científica
          Star Wars (Guerra nas Estrelas); um dos protagonistas centrais juntamente com Obi-Wan Kenobi, da trilogia
          prequel (mas se tornando o vilão secundário no terceiro filme após a morte do General Grievous), que
          posteriormente tornou-se um dos antagonistas principais da trilogia original ao lado do Imperador Palpatine
          (porém acaba se redimindo no final), e um anti-herói póstumo na trilogia de sequência, sendo que suas ações
          ainda afetam o universo de Star Wars, sendo para o bem ou para o mal, principalmente quando se trata de seu
          neto, Ben Solo, o Kylo Ren, que tem por Vader uma admiração cega, e deseja mais do que tudo ser como ele (e
          até superá-lo).</p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="divisor-end rounded-start position-absolute end-0 "></div>
</div>
