<app-navbar></app-navbar>
<div class="mt-5 container">
  <h2>Pessoas</h2>
  <table class="table mt-4 table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Gênero</th>
        <th>Altura</th>
        <th>Ações</th>

      </tr>
    </thead>
    <tbody class="">

      <tr *ngFor="let people of peoples; index as i">
        <td>{{people.name}}</td>
        <td>{{ people.gender}}</td>
        <td>{{ people.height}}</td>
        <td>
          <a class="btn btn-primary" href="http://localhost:4200/people/{{peoplesId[i]}}"><i class="fa-solid fa-eye"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="buttons">
    <button [disabled]="previous==null?true:false" class="btn-prv btn btn-primary" (click)="previousPage()" >Previous</button>
    <button [disabled]="next==null?true:false" class="btn-ntx btn btn-primary" (click)="nextPage()" >Next</button>
  </div>
</div>
<app-footer></app-footer>
