<div class="chronology">
  <h1>Ordem de Lançamento dos Filmes</h1>
  <div class="container text-center">
    <div class="row g-0 d-flex justify-content-center ">
      <div class="col-6">
        <div class="p-3 card-chron justify-content-end ">
          <img class="rounded-circle " src="../../assets/img/sw-4.jpeg" alt="">
          <div  class=" btn divisor-lft-rth btn-warning rounded-circle "> IV </div>
        </div>
      </div>
      <div class="col-6 text-film">
        <p class="rounded">A princesa Leia é mantida refém pelas forças imperiais comandadas por Darth Vader. Luke
          Skywalker e o capitão Han Solo precisam libertá-la e restaurar a liberdade e a justiça na galáxia.</p>
      </div>
      <div class="col-6 text-film">
        <p class="rounded"> Yoda treina Luke Skywalker para ser um cavaleiro Jedi. Han Solo corteja a Princesa Leia
          enquanto Darth Vader retorna para combater as forças rebeldes que tentam salvar a galáxia.</p>
      </div>
      <div class="col-6">
        <div class="p-3 card-chron">
          <div class="divisor-lft-rth btn btn-warning rounded-circle "> V </div>
          <img class="rounded-circle " src="../../assets/img/sw-5.jpeg" alt="">
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 card-chron justify-content-end">
          <img class="rounded-circle" src="../../assets/img/sw-6.jpeg" alt="">
          <div  class="divisor-lft-rth btn btn-warning rounded-circle "> VI </div>
        </div>
      </div>
      <div class="col-6 text-film">
        <p class="rounded"> Luke Skywalker e seus amigos viajam para Tatooine e salvam seu amigo Han Solo do lorde do
          crime Jabba o Hutt. O Império Galático começou a construção de uma segunda Estrela da Morte, visando aniquilar
          a Aliança Rebelde, mas seu término está comprometido pela Frota Rebelde, que insiste em dar um fim ao Império.
          Neste meio tempo, Luke Skywalker luta para resgatar Vader, um ex-Jedi, de volta do lado sombrio da Força.</p>
      </div>
      <div class="col-6 text-film">
        <p class="rounded"> Obi-Wan e seu mentor embarcam em uma perigosa aventura na tentativa de salvar o planeta das
          garras de Darth Sidious. Durante a viagem, eles conhecem um habilidoso menino e decidem treiná-lo para se
          tornar um Jedi. Mas o tempo irá revelar que as coisas nem sempre são o que aparentam ser.</p>
      </div>
      <div class="col-6">
        <div class="p-3 card-chron">
          <div  class="divisor-lft-rth btn btn-warning rounded-circle size-dif-1"> I </div>
          <img class="rounded-circle" src="../../assets/img/sw-1.jpeg" alt="">
        </div>
      </div>

      <div class="col-6">
        <div class="p-3 card-chron justify-content-end ">
          <img class="rounded-circle " src="../../assets/img/sw-2.jpeg" alt="">
          <div class="divisor-lft-rth btn btn-warning rounded-circle size-dif"> II </div>
        </div>
      </div>
      <div class="col-6 text-film">
        <p class="rounded"> Tentado por promessas de poder, Anakin Skywalker se aproxima de Darth Sidious e participa de
          um plano para acabar com os Cavaleiros Jedi.</p>
      </div>
      <div class="col-6 text-film">
        <p class="rounded"> As Guerras Clônicas estão em pleno andamento e Anakin Skywalker mantém um elo de lealdade com
          Palpatine, ao mesmo tempo em que luta para que seu casamento com Padmé Amidala não seja afetado por esta
          situação. Seduzido por promessas de poder, Anakin se aproxima cada vez mais de Darth Sidious até se tornar o
          temível Darth Vader. Juntos eles tramam um plano para aniquilar de uma vez por todas com os cavaleiros jedi.
        </p>
      </div>
      <div class="col-6">
        <div class="p-3 card-chron">
          <div  class="divisor-lft-rth btn btn-warning rounded-circle "> III </div>
          <img class="rounded-circle" src="../../assets/img/sw-3.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
