<app-navbar></app-navbar>
<!-- <div class=" row g-3 content">
  <div class=" container px-4 text-center">
    <div class=" row gx-5">
      <div class="col-5">
        <img src="../../assets/img/kylo.jpeg" class="" alt="">
      </div>
      <div class="col">
        <p>Texto</p>
      </div>
      <div class="col-5">
        <img src="../../assets/img/rey.jpeg" class="" alt="">
      </div>
    </div>
  </div>
</div> -->
<div class="content">

    <h3>
      "Deixe o passado morrer. Mate-o, se for preciso.
      <br>É o único jeito de cumprir o seu destino."
    </h3>

</div>
